

<div id='computer_<%= computer.id %>' class='computer'>
    <p><strong>Model:</strong>  <%= link_to_unless_current computer.model, computer %> </p>
    <p><strong>Price:</strong> <%= computer.price %> </p>
    <p><strong>CPU:</strong> <%= computer.cpu %> </p>
    <p><strong>OS:</strong> <%= computer.os %> </p>
    <p><strong>Disk:</strong> <%= computer.disk %> </p>
    <p><strong>RAM:</strong> <%= computer.ram %> </p>
    <p><strong>Screen:</strong> <%= computer.screen %> </p>


</div>